<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edycja adresu</h2>
    <form class="form">

        
        <label for="marka">Ulica:<sup></sup></label>
            <input type="text" name="marka" value="Górczewska" id="marka" />
            <span></span>
        
        <label for="typ">Numer lokalu:<sup></sup></label>
            <input type="text" name="typ" value="35" id="typ" />
            <span></span>
        

        
        <label for="kod_pocztowy">Kod pocztowy:<sup></sup></label>
            <input type="text" name="kod_pocztowy" value="01-460" id="kod_pocztowy" />
            <span></span>
       

        <label for="miasto">Miasto<sup></sup></label>
            <input type="text" name="rok_produkcji" value="Warszawa" id="miasto" />
            <span></span>
    

        <div class = "form-buttons" >
            <input class = "form-button-submit" type="submit" value="Zapisz"/>
            <a class = "form-button-cancel" href="adres.html">Anuluj</a>    
        </div>  
        
    </form>
    
</main>
<%- include('../../fragments/footer.ejs') %>


