html {
  background-color: #ecf0f1;
  font-family: sans-serif;
}

body {
  min-width: 360px;
}

@media all and (max-width: 400px) {
  body,
  nav,
  nav ul,
  header,
  main,
  footer {
    margin: 0;
  }

  nav ul li {
    flex-basis: 100%;
  }
}

@media all and (max-width: 720px) {
  header {
    flex-direction: column;
  }

  header h1 {
    text-align: center;
  }

  header img {
    align-self: center;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    flex-basis: 50%;
    text-align: center;
  }

  nav ul li a {
    display: block;
  }

  .form .errors-text {
    grid-template-columns: 1fr;
    row-gap: unset;
    margin-left: unset;
    margin-bottom: 1rem;
  }
}

header,
main,
footer {
  background-color: white;
}

header,
main,
footer,
nav {
  margin: 1rem;
}

header,
footer {
  background-color: #34495e;
  color: white;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header h2 {
  font-family: sans-serif;
}

header img {
  float: right;
}

nav {
  background-color: #bdc3c7;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.right-menu {
  float: right;
}

nav ul li a {
  display: inline-block;
  color: #2c3e50;
  padding: 1rem 2rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #d35400;
  color: #ecf0f1;
}

nav ul li a.active {
  background-color: #95a5a6;
  color: #ecf0f1;
}

main {
  padding: 1.5rem;
}

footer {
  text-align: center;
}

main h2 {
  border-bottom: 1px solid #7f8c8d;
  margin-bottom: 2rem;
}

.table-list {
  border-collapse: collapse;
  color: #2c3e50;
  width: 100%;
}

.table-list,
.table-list th,
.table-list td {
  border: 1px solid #bdc3c7;
}

.table-list th,
.table-list td {
  padding: 0.5rem;
}

.table-list th,
.table-list tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

.list-actions {
  margin: 0;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.list-actions li {
  display: inline-block;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
  display: inline-block;
  width: 75px;
  padding: 0.25rem 0.5rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.list-actions-button-details,
.list-actions-button-edit {
  margin-right: 1rem;
}

.list-actions-button-details {
  background-color: #2980b9;
}

.list-actions-button-details:hover {
  background-color: #3498db;
}

.list-actions-button-edit {
  background-color: #f39c12;
}

.list-actions-button-edit:hover {
  background-color: #f1c40f;
}

.list-actions-button-delete {
  background-color: #c0392b;
}

.list-actions-button-delete:hover {
  background-color: #e74c3c;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add {
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.button-add {
  padding: 0.5rem 1rem;
}

.button-add {
  background-color: #27ae60;
}

.button-add:hover {
  background-color: #2ecc71;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

.form {
  display: grid;
  grid-template-columns: 150px 300px 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"],
.form input[type="year"] {
  border: 1px solid #7f8c8d;
  color: #2c3e50;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}

.form-group {
  margin-bottom: 1rem;
}

form input[type="submit"] {
  cursor: pointer;
}

abbr[title="required"] {
  color: #c0392b;
}

.max450 {
  max-width: 450px;
  margin-bottom: 20px;
}

.form-buttons {
  grid-column: 1 / span 2;
  /* grid-column-end: -1; */
  /* grid-column: 1 / span 1; */
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel {
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.button-add,
.form-button-submit,
.form-button-cancel {
  padding: 0.5rem 1rem;
}

.button-add,
.form-button-submit {
  background-color: #27ae60;
}

.button-add:hover,
.form-button-submit:hover {
  background-color: #2ecc71;
}

.form-button-cancel,
.list-actions-button-delete {
  background-color: #c0392b;
}

.form-button-cancel:hover,
.list-actions-button-delete:hover {
  background-color: #e74c3c;
}

.form-button-submit,
.form-button-cancel {
  width: 100%;
}

.form-button-cancel {
  box-sizing: border-box;
  display: block;
}

.form-button-submit {
  margin-bottom: 0.5rem;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.foto {
  width: 760px;
  height: 573px;
}

/* Moje logowanie ,rejestracja */

.panel {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.panel-box {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-rej-log {
  padding: 10px 30px;
  cursor: pointer;
  background: #7895b1;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button-rej-log:hover {
  transform: scale(0.98);
}

.fields {
  width: 100%;
  min-width: 360px;
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid silver;
  outline: 5px solid #ebebeb;
  font-size: 16px;
}

fields:focus {
  outline: 5px solid #e5f2f8;
  line-height: 2.25rem;
}

.rej-log-control {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.rej-log-control input[type="submit"] {
  width: 100%;
}

.h2-rej-log {
  font-weight: 300;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 40px;
}

#errorsSummary {
  display: none;
  color: white;
  background-color: #e74c3c;
  padding: 10px;
  max-width: 450px;
}

.successMessage {
  display: block;
  color: white;
  background-color: #1db02e;
  padding: 10px;
}

.errorMessage {
  display: block;
  color: white;
  background-color: #e74c3c;
  padding: 10px;
  line-height: 22px;
}

.errors-text,
.form-error {
  color: #e74c3c;
  font-size: 0.85em;
  line-height: 2.4rem;
}

.errors-text-rej-log {
  margin-top: 18px;
  color: #e74c3c;
  font-size: 0.85em;
  line-height: 0rem;
}

.form input.error-input,
.form select.error-input {
  border: 3px solid #e74c3c;
}

.form-rej-log input.error-input,
.form-rej-log select.error-input {
  border: 3px solid #e74c3c;
}

/* *************************************************************************************** */
