<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Szczegóły samochodu</h2>
    
    <form class="form">

        
        <label for="marka">Marka:<sup></sup></label>
        <input type="text" name="marka" value="BMW" id="marka" disabled />
        <span></span>

        
        <label for="typ">Typ:<sup></sup></label>
        <input type="text" name="typ" value="330d" id="typ" disabled />
        <span></span>

        <label for="numer_rejestracyjny">Numer rej.:<sup></sup></label>
        <input type="text" name="numer_rejestracyjny" value="Wj3451TRd" id="numer_rejestracyjny" disabled />
        <span></span>

        
        <label for="rok_produkcji">Rok produkcji :<sup></sup></label>
        <input type="text" name="rok_produkcji" value="2017" id="rok_produkcji" disabled />
        <span></span>

        
        <label for="pojemnosc">Pojemność:<sup></sup></label>
        <input type="text" name="pojemnosc" value="3300 cm3" id="pojemnosc" disabled />
        <span></span>
    </form>

    <div class = "section-buttons" >
        <a href="samochod-edit.html"class = "list-actions-button-edit">Edytuj</a>    
    </div>  

    <h2>Szczegóły zlecenia naprawy</h2>

    <table class="table-list"> 
        
        <thead>
            <tr>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Koszt Naprawy</th>
                <th>Rodzaj naprawy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2020.11.12</td>
                <td>2020.11.14</td>
                <td>1200 PLN</td>
                <td>wymiana klocków</td>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
        <div class = "section-buttons" >
            <a href="samochod-list.html"class = "list-actions-button-details">Powrót</a>    
        </div> 

     
</main>
<%- include('../../fragments/footer.ejs') %>


