<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edycja samochodu</h2>
    
    <form class="form">

        
        <label for="marka">Marka:<sup></sup></label>
        <input type="text" name="marka" value="BMW" id="marka" />
        <span></span>

        <label for="typ">Typ:<sup></sup></label>
        <input type="text" name="typ" value="330d" id="typ"/>
        <span></span>

        
        <label for="numer_rejestracyjny">Numer rej.:<sup></sup></label>
        <input type="text" name="numer_rejestracyjny" value="Wj3451TRd" id="numer_rejestracyjny"/>
        <span></span>

        
        <label for="rok_produkcji">Rok produkcji :<sup></sup></label>
        <input type="text" name="rok_produkcji" value="2017" id="rok_produkcji"/>
        <span></span>

        
        <label for="pojemnosc">Pojemność:<sup></sup></label>
        <input type="text" name="pojemnosc" value="3300 cm3" id="pojemnosc"/>
        <span></span>

        <div class = "form-buttons" >
            <input class = "form-button-submit" type="submit" value="Zapisz"/>
            <a class = "form-button-cancel" href="adres.html">Anuluj</a>    
        </div> 
    </form>

</main>
<%- include('../../fragments/footer.ejs') %>


