<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista samochodów</h2>
    
    <table class="table-list"> 
        
        <thead>
            <tr>
                <th>Marka</th>
                <th>Typ</th>
                <th>Numer rejestracyjny</th>
                <th>Rok produkcji</th>
                <th>Pojemność</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BMW</td>
                <td>330d</td>
                <td>Wj3451TR</td>
                <td>2017</td>
                <td>3300 cm3</td>
                <td>
                    <ul class ="list-actions">
                        <li>
                            <a href="samochod-details.html"class = "list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="samochod-edit.html"class = "list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href=""class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>VW</td>
                <td>Passat</td>
                <td>WWL5051GH</td>
                <td>2010</td>
                <td>2000 cm3</td>
                <td>
                    <ul class ="list-actions">
                        <li>
                            <a href=""class = "list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href=""class = "list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href=""class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><a class = "button-add" href="samochod-form.html">Dodaj nowy samochód</a>
    </p>
</main>
<%- include('../../fragments/footer.ejs') %>


