<%- include('../../fragments/header.ejs') %>
<script defer type="application/javascript" src="../js/validationCommon.js"></script>
<script defer type="application/javascript" src="../js/validationAdresForm.js"></script>
<main>
    <h2>Nowy adres</h2>
    <form class="form" onsubmit="return validateForm();" novalidate onsubmit="return validateForm();">

        
        <label for="ulica">Ulica:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="ulica" id="ulica" placeholder="2-35 znak贸w" />
            <span id="errorUlica" class="errors-text"></span>
        
        <label for="numer_lokalu">Numer lokalu:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="numer_lokalu" id="numer_lokalu" placeholder="1-6 znak贸w" />
            <span id="errorNumer_Lokalu" class="errors-text"></span>
      
        <label for="kod_pocztowy">Kod pocztowy:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="kod_pocztowy" id="kod_pocztowy" placeholder="2-8 znak贸w" />
            <span id="errorKod_Pocztowy" class="errors-text"></span>
        
        <label for="miasto">Miasto:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="miasto" id="miasto" placeholder="2-35 znak贸w" />
            <span id="errorMiasto" class="errors-text"></span>
    
        <div class = "form-buttons" >
            <p id="errorsSummary" class="errors-text"></p>
            <input class = "form-button-submit" type="submit" value="Dodaj" href="samochod-list.html"  />
            <a class = "form-button-cancel" href="adres.html">Anuluj</a>    
        </div>  
        
    </form>
    
</main>
<%- include('../../fragments/footer.ejs') %>