<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista adresów</h2>
    
    <table class="table-list"> 
        
        <thead>
            <tr>
                <th>Ulia</th>
                <th>Numer lokalu</th>
                <th>Kod pocztowy</th>
                <th>Miasto</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Górczewska</td>
                <td>35</td>
                <td>01-460</td>
                <td>Warszawa</td>
                <td>
                    <ul class ="list-actions">
                        <li>
                            <a href="adres-edit.html"class = "list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href=""class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Białobrzeska</td>
                <td>53</td>
                <td>02-325</td>
                <td>Warszawa</td>
                <td>
                    <ul class ="list-actions">
                        <li>
                            <a href=""class = "list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href=""class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- Tu wstaw dodatkowe wiersze -->
        </tbody>
    </table>
    <p><a class = "button-add" href="adres-form.html">Dodaj nowy adres</a>
    </p>
</main>
<%- include('../../fragments/footer.ejs') %>


