<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script defer type="application/javascript" src="../js/validationCommon.js"></script>
    <script defer type="application/javascript" src="../js/validationAdresForm.js"></script>
</head>
<body>
    
<header>
    <h1>AutoService CarTu</h1>
    <img src="../images/logo.png" alt="">
</header>
<nav>
    <ul>
        <li><a href ="../index.html">Strona główna</a></li>
        <li><a href ="uzytkownik-list.html">Użytkownik</a></li>
        <li><a href ="samochod-list.html">Samochód</a></li>
        <li><a href ="zlecenie-naprawy-list.html">Zlecenie naprawy</a></li>
        <li><a href ="warsztat-list.html">Warsztat</a></li>
        <li><a href ="adres.html"class="active">Adres</a></li>
        <li><a href ="../index.html">Wyloguj</a></li>
       
    </ul>
</nav>
<main>
    <h2>Nowy adres</h2>
    <form class="form" onsubmit="return validateForm();" novalidate onsubmit="return validateForm();">

        
        <label for="ulica">Ulica:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="ulica" id="ulica" placeholder="2-35 znaków" />
            <span id="errorUlica" class="errors-text"></span>
        
        <label for="numer_lokalu">Numer lokalu:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="numer_lokalu" id="numer_lokalu" placeholder="1-6 znaków" />
            <span id="errorNumer_Lokalu" class="errors-text"></span>
      
        <label for="kod_pocztowy">Kod pocztowy:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="kod_pocztowy" id="kod_pocztowy" placeholder="2-8 znaków" />
            <span id="errorKod_Pocztowy" class="errors-text"></span>
        
        <label for="miasto">Miasto:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="miasto" id="miasto" placeholder="2-35 znaków" />
            <span id="errorMiasto" class="errors-text"></span>
    
        <div class = "form-buttons" >
            <p id="errorsSummary" class="errors-text"></p>
            <input class = "form-button-submit" type="submit" value="Dodaj" href="samochod-list.html"  />
            <a class = "form-button-cancel" href="adres.html">Anuluj</a>    
        </div>  
        
    </form>
    
</main>
<footer>
    Karol,Tusiński, s17580
</footer>
    
</body>
</html>


