<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script defer type="application/javascript" src="../js/validationCommon.js"></script>
    <script defer type="application/javascript" src="../js/validationRejestracja.js"></script>
   
</head>
<body>
<header>
    <h1>AutoService CarTu</h1>
    <img src="../images/logo.png" alt="">
    
</header>

<nav>
    <ul>
        
        
        <li><a href="../index.html" class="">Strona główna</a></li>
        <li class="right-menu"><a href="" class="active">Rejestracja</a></li>
     
    </ul>
</nav>
<div class="panel flex">
    <div class="panel-box rej-log-control">
        <h2 class="h2-rej-log">Zarejestruj się do AutoService CarTu</h2>
        <form class= "form-rej-log" onsubmit="return validateForm();" novalidate onsubmit="return validateForm();">

            
            <input class="fields rej-log-control" type="text" name="username" id="username" placeholder="Nazwa użytkownika" />
            <span  id="errorUsername" class="errors-text-rej-log"></span>

            
            <input class="fields rej-log-control" type="text" id="email" name="email" placeholder="E-mail">
            <span  id="errorEmail" class="errors-text-rej-log"></span>

           
            <input class="fields rej-log-control" type="password" id="password" name="password" placeholder="Hasło">
            <span  id="errorPassword" class="errors-text-rej-log"></span>

            
            <input class="fields rej-log-control" type="password" id="password2" name="password2" placeholder="Powtórz hasło">
            <span  id="errorPassword2" class="errors-text"></span>
            
            <input type="submit" value="Zarejestruj się"  class="button-rej-log"/>
            <p id="errorsSummary" class="errors-text"></p>

        </form>
    </div>
    
    </div>

<footer>
    Karol,Tusiński, s17580
</footer>
    
</body>
</html>