<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script defer type="application/javascript" src="../js/validationCommon.js"></script>
    <script defer type="application/javascript" src="../js/validationSamochodForm.js"></script>
</head>
<body>
    
<header>
    <h1>AutoService CarTu</h1>
    <img src="../images/logo.png" alt="">
</header>
<nav>
    <ul>
        <li><a href ="panel.html">Strona główna</a></li>
        <li><a href ="uzytkownik-list.html">Użytkownik</a></li>
        <li><a href ="samochod-list.html"class="active">Samochód</a></li>
        <li><a href ="zlecenie-naprawy-list.html">Zlecenie naprawy</a></li>
        <li><a href ="warsztat-list.html">Warsztat</a></li>
        <li><a href ="adres.html">Adres</a></li>
        <li><a href ="../index.html">Wyloguj</a></li>
       
    </ul>
</nav>
<main>
    <h2>Nowy samochód</h2>
    <form class="form" onsubmit="return validateForm();" novalidate onsubmit="return validateForm();">

        <label for="marka">Marka:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="marka" id="marka" placeholder="2-15 znaków" />
        <span  id="errorMarka" class="errors-text"></span>

        <label for="typ">Typ:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="typ" id="typ" placeholder="2-15 znaków" />
        <span  id="errorTyp" class="errors-text"></span>
       
        <label for="numerRejestracyjny">Numer rej.:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="numerRejestracyjny" id="numerRejestracyjny" placeholder="np. WJ3451TRK" />
        <span  id="errorNumerRejestracyjny" class="errors-text"></span>
        
        <label for="rokProdukcji">Rok produkcji :<abbr title="required" aria-label="required">*</abbr></label>
        <input type="year" name="rokProdukcji" id="rokProdukcji" placeholder="np. 2020" />
        <span  id="errorRokProdukcji" class="errors-text"></span>
        
        <label for="pojemnosc">Pojemność:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="pojemnosc" id="pojemnosc" placeholder="np. 2500" />
        <span  id="errorPojemnosc" class="errors-text"></span>
    
        
        <div class = "form-buttons" >
            <p id="errorsSummary" class="errors-text"></p>
            <input class = "form-button-submit" type="submit" value="Dodaj" href="samochod-list.html"  />
            <a class = "form-button-cancel" href="samochod-list.html">Anuluj</a>    
        </div>  
        
    </form>
    
</main>
<footer>
    Karol,Tusiński, s17580
</footer>

</body>
</html>


