<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>  
<header>
    <h1>AutoService CarTu</h1>
    <img src="../images/logo.png" alt="">
</header>
<nav>
    <ul>
        <li><a href ="panel.html">Strona główna</a></li>
        <li><a href ="uzytkownik-list.html">Użytkownik</a></li>
        <li><a href ="samochod-list.html"class="active">Samochód</a></li>
        <li><a href ="zlecenie-naprawy-list.html">Zlecenie naprawy</a></li>
        <li><a href ="warsztat-list.html">Warsztat</a></li>
        <li><a href ="adres.html">Adres</a></li>
        <li><a href ="../index.html">Wyloguj</a></li>
        <!-- <li><a href ="">Strona główna</a></li>
        <li><a href ="">Strona główna</a></li> -->
    </ul>
</nav>
<main>
    <h2>Lista samochodów</h2>
    
    <table class="table-list"> 
        
        <thead>
            <tr>
                <th>Marka</th>
                <th>Typ</th>
                <th>Numer rejestracyjny</th>
                <th>Rok produkcji</th>
                <th>Pojemność</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BMW</td>
                <td>330d</td>
                <td>Wj3451TR</td>
                <td>2017</td>
                <td>3300 cm3</td>
                <td>
                    <ul class ="list-actions">
                        <li>
                            <a href="samochod-details.html"class = "list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="samochod-edit.html"class = "list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href=""class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>VW</td>
                <td>Passat</td>
                <td>WWL5051GH</td>
                <td>2010</td>
                <td>2000 cm3</td>
                <td>
                    <ul class ="list-actions">
                        <li>
                            <a href=""class = "list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href=""class = "list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href=""class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <!-- Tu wstaw dodatkowe wiersze -->
        </tbody>
    </table>
    <p><a class = "button-add" href="samochod-form.html">Dodaj nowy samochód</a>

    
    </p>
</main>
<footer>
    Karol,Tusiński, s17580
</footer>
    
</body>
</html>


