<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>  
<header>
    <h1>AutoService CarTu</h1>
    <img src="../images/logo.png" alt="">
</header>
<nav>
    <ul>
        <li><a href ="panel.html">Strona główna</a></li>
        <li><a href ="uzytkownik-list.html">Użytkownik</a></li>
        <li><a href ="samochod-list.html">Samochód</a></li>
        <li><a href ="zlecenie-naprawy-list.html">Zlecenie naprawy</a></li>
        <li><a href ="warsztat-list.html"class="active">Warsztat</a></li>
        <li><a href ="adres.html">Adres</a></li>
        <li><a href ="../index.html">Wyloguj</a></li>
        
    </ul>
</nav>
<main>
    <h2>Szczegóły warsztatu</h2>
    
    <form class="form">

       
        <label for="marka">Nazwa Warsztatu:<sup></sup></label>
        <input type="text" name="marka" value="Bemowo CarTu" id="marka" disabled />
        <span></span>

        <label for="typ">Telefon:<sup></sup></label>
        <input type="text" name="typ" value="22 564 23 56" id="typ" disabled />
        <span></span>

        <label for="numer_rejestracyjny">E-mail:<sup></sup></label>
        <input type="text" name="numer_rejestracyjny" value=bemowo@cartu.pl id="numer_rejestracyjny" disabled />
        <span></span>

    </form>

    <div class = "section-buttons" >
        <a href="warsztat-form.html"class = "list-actions-button-edit">Edytuj</a>    
    </div>  

    <h2>Szczegóły adresu warsztatu</h2>

    <table class="table-list"> 
        
        <thead>
            <tr>
                <th>Ulica</th>
                <th>Numer lokalu</th>
                <th>Kod pocztowy</th>
                <th>Miasto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Górczewska</td>
                <td>35</td>
                <td>01-460</td>
                <td>Warszawa</td>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Szczegóły zleconych napraw warsztatu</h2>

    <table class="table-list"> 
        
        <thead>
            <tr>
                <th>Marka</th>
                <th>Typ</th>
                <th>Num rej.</th>
                <th>Rodzaj naprawy</th>
                <th>Data od</th>
                <th>Data do</th>
                <th>Koszt naprawy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BMW</td>
                <td>330d</td>
                <td>Wj3451TR</td>
                <td>Wymiana klocków</td>
                <td>2020.11.12</td>
                <td>2020.11.14</td>
                <td>1200 PLN</td>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
        <div class = "section-buttons" >
            <a href="warsztat-list.html"class = "list-actions-button-details">Powrót</a>    
        </div> 

     
</main>


<footer>
    Karol,Tusiński, s17580
</footer>
    
</body>
</html>


