<!DOCTYPE html>
<html lang="pl-PL"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoServis CarTu</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script defer type="application/javascript" src="../js/validationCommon.js"></script>
    <script defer type="application/javascript" src="../js/validationLogowanie.js"></script>
</head>
<body>
<header>
    <h1>AutoService CarTu</h1>
    <img src="../images/logo.png" alt=""> 
</header>
<nav>
    <ul>
        
        <li><a href="panel.html" class="">Strona główna</a></li>
        <li class="right-menu"><a href="" class="active">Logowanie</a></li>
     
    </ul>
</nav>



<div class="panel flex">
    <div class = "panel-box rej-log-control">
        <h2 class="h2-rej-log">AutoService CarTu Zaloguj</h2>
        <form action="panel.html" method="post" class= "form-rej-log" onsubmit="return validateForm();" novalidate onsubmit="return validateForm();">

            <input class="fields rej-log-control" type="text" id="username" name="username" placeholder="Nazwa użytkownika">
            <span  id="errorUsername" class="errors-text-rej-log"></span>
            
            <input class="fields rej-log-control " type="password" id="password" name="password" placeholder="Hasło">
            <span  id="errorPassword" class="errors-text"></span>
            
            <input type="submit" value="Zaloguj"  class="button-rej-log"/>
            <p id="errorsSummary" class="errors-text"></p>
        </div>
    </div>
    </form>
    </div>


    
</div>
</form>
</div>

<%- include('../../fragments/footer.ejs') %>