<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edycja warsztatu</h2>
    <form class="form">

        
        <label for="nazwa_warsztat">Nazwa warsztatu:<sup></sup></label>
            <input type="text" name="nazwa_warsztat" value="Bemowo CarTu" id="nazwa_warsztat" />
            <span></span>
        
        <label for="telefon">Telefon:<sup></sup></label>
            <input type="text" name="telefon" value="22 564 23 56" id="telefon" />
            <span></span>
       
        <label for="email">E-mail<sup></sup></label>
            <input type="email" name="email" value="bemowo@cartu.pl" id="email" />
            <span></span>
        
        
        <div class = "form-buttons" >
            <input class = "form-button-submit" type="submit" value="Zapisz" />
            <a class = "form-button-cancel" href="warsztat-list.html">Anuluj</a>    
        </div>  
        
    </form>
    
</main>
<%- include('../../fragments/footer.ejs') %>


